.contacts__title {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.contacts__email,
.contacts__address {
  display: flex;
  flex-direction: row;
}

.contacts__email-info,
.contacts__address-info {
  margin: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #444444;
}

.contacts__email-text,
.contacts__address-text {
  margin: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #444444;
  text-decoration: none;
  padding-left: 35px;
}
