.contacts {
  @media (min-width: @desktop-width) {
    margin: 0 auto;
    padding: 0 45px;
    width: 1050px;
    display: grid;
    grid-template-columns: 143px 380px 527px;
    margin-top: 71px;
    margin-bottom: 105px;
  }
}

.contacts__container {
  display: grid;
  padding: 0 30px;
  padding-top: 38px;
  width: 260px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    max-width: none;
    width: 668px;
    padding: 0 45px;
    padding-top: 68px;
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
    padding: 0;
    padding-top: 71px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.contacts__title {
  position: relative;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  margin: 0;
  padding-bottom: 28px;

  @media (min-width: @tablet-width) {
    width: 668px;
    text-align: start;
    margin: 0 auto;
    font-size: 43px;
    line-height: 50px;

    &::after {
      content: "";
      width: 47px;
      height: 81px;
      position: absolute;
      background: url("/img/icon-flag.svg");
      top: -20px;
      right: 3px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    font-size: 53px;
    line-height: 57px;

    &::after {
      top: -18px;
      left: -111px;
    }
  }
}

.contacts__data {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #444444;
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 30px;
  margin-bottom: 62px;

  @media (min-width: @tablet-width) {
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    color: #444444;
    grid-template-columns: repeat(2, 1fr 2fr);
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 82px 1fr;
  }
}

.contacts-link {
  text-decoration: none;
  padding-bottom: 4px;
  border-bottom: 1px solid #62d1ba;
  color: #444444;

  &:hover {
    color: #46c1ae;
    border-bottom: 1px solid #46c1ae;
  }

  &:active {
    border-bottom: none;
  }
}

.contacts__map {
  display: flex;
  margin: auto;
  margin-bottom: 42px;
  width: 320px;

  @media (min-width: @tablet-width) {
    margin-bottom: 42px;
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 527px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    margin: 0;
  }
}

.contacts__write {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 39px;

  @media (min-width: @desktop-width) {
    margin-bottom: 57px;
  }

  @media (min-width: @desktop-width) {
    justify-content: flex-start;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 0;
  }
}

.contacts__button {
  max-width: none;
  width: 260px;
  padding: 0 30px;

  @media (min-width: @tablet-width) {
    max-width: none;
    width: 230px;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    max-width: none;
    width: 230px;
    padding: 0;
  }
}
