.copyright {
  width: 260px;
  min-height: 80px;
  margin: 0 auto;
  border-top: 1px solid #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    width: 290px;
    margin: 0;
    border: none;
  }

  @media (min-width: @desktop-width) {
    width: 183px;
    margin-right: 50px;
  }
}

.copyright__text {
  padding-right: 27px;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
}

.copyright__link {
  height: 34px;
}

.copyright__link svg {
  fill: #63d1bb;

  &:hover {
    fill: #46c1ae;
  }

  &:active {
    fill: rgba(70, 193, 174, 0.3);
  }
}
