.featured__container {
  width: 260px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 668px;
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
  }
}

.featured__details {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 334px 334px;
    grid-template-rows: 94px 122px 117px 115px 52px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 188px 337px 525px;
    grid-template-rows: 132px 171px 153px 128px 52px;
  }
}

.featured__slogan {
  font-family: inherit;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  margin: 0;
  padding-top: 31px;

  @media (min-width: @tablet-width) {
    width: 450px;
    min-height: 50px;
    font-size: 43px;
    line-height: 50px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  @media (min-width: @desktop-width) {
    width: 545px;
    min-height: 57px;
    font-size: 53px;
    line-height: 57px;
    z-index: 1;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.featured__type {
  font-family: inherit;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    width: 100px;
    line-height: 17px;
    display: flex;
    align-items: center;
    padding-left: 232px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    padding-left: 73px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.featured__intro {
  width: 260px;
  min-height: 72px;
  font-family: inherit;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #444444;

  @media (min-width: @tablet-width) {
    width: 292px;
    min-height: 90px;
    font-size: 17px;
    line-height: 30px;
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  @media (min-width: @desktop-width) {
    padding-top: 32px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.featured__list {
  @media (min-width: @tablet-width) {
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

.featured__item {
  width: 260px;
  display: flex;
  border-bottom: 1px solid  #ececec;
  padding-bottom: 12px;

  @media (min-width: @tablet-width) {
    width: 292px;
    padding-top: 5px;
  }

  @media (min-width: @desktop-width) {
    width: 291px;
  }
}

.featured__name {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  font-family: inherit;
  color: #444444;
}

.featured__description {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  font-family: inherit;
  color: #444444;
}

.featured__photo {
  margin: 0 auto;
  display: none;

  @media (min-width: @tablet-width) {
    display: grid;
    width: 334px;
    height: 404px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 6;
  }

  @media (min-width: @desktop-width) {
    width: 525px;
    height: 636px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
  }
}

.featured__photo-1 {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.featured__price {
  width: 260px;
  font-family: inherit;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #444444;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 174px;
    font-size: 20px;
    padding-top: 41px;
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }
}

.featured__button-container {
  @media (min-width: @tablet-width) {
    width: 292px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
  }
}

.featured__button {
  @media (min-width: @tablet-width) {
    width: 292px;
    font-size: 17px;
    line-height: 20px;
  }
}
