.featured__title {
  display: flex;
  flex-direction: column;
}

.featured__slogan {
  font-family: inherit;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  margin: 0;
  padding: 0;
}

.featured__type {
  font-family: inherit;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #63D1BB;
  margin: 0;
  padding: 0;
}

.featured__intro {
  width: 260px;
  min-height: 72px;
  font-family: inherit;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}

.featured__list {
  padding: 0;
  list-style-type: none;
  margin: 0 auto;
}

.featured__item {
  width: 260px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: 2px solid  #ECECEC;
  padding-bottom: 12px;
}

.featured__name {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  font-family: inherit;
  color: #444444;
}

.featured__description {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  font-family: inherit;
  color: #444444;
}

.featured__photo {
  margin: 28px 30px;
}

.featured__price {
  font-family: inherit;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #444444;
  display: flex;
  align-items: center;
}
