.form {
  display: flex;
  flex-direction: column;
}

.form__container {
  margin: 0 auto;
  width: 100%;
}

.form__text {
  width: 246px;
  padding: 0 30px;
  padding-top: 3px;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #444444;

  @media (min-width: @tablet-width) {
    width: 634px;
    font-size: 17px;
    line-height: 30px;
    margin: 0 50px;
    margin-bottom: 12px;
    padding: 0;
    padding-top: 56px;
  }

  @media (min-width: @desktop-width) {
    width: 691px;
    padding: 0;
    padding-left: 225px;
    margin: 0;
    font-size: 17px;
    line-height: 30px;
    display: flex;
  }
}
