.form-field__wrapper {
  display: flex;
  flex-direction: column;


  @media (min-width: @tablet-width) {
    padding-top: 50px;
    padding-bottom: 16px;
  }
}

.form-field__wrapper:first-child {
  @media (min-width: @desktop-width) {
    padding-top: 61px;
    padding-bottom: 15px;
  }
}

.form-field__wrapper:nth-child(2n) {
  @media (min-width: @tablet-width) {
    background-color: #f1f1f1;
    padding-top: 48px;
    padding-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 45px;
    padding-bottom: 34px;
  }
}

.form-field__wrapper:nth-child(3n) {
  @media (min-width: @tablet-width) {
    padding-top: 43px;
    padding-bottom: 38px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 42px;
  }
}

.form-field__wrapper:nth-child(4n) {
  @media (min-width: @tablet-width) {
    padding-top: 43px;
    padding-bottom: 32px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 44px;
    padding-bottom: 32px;
  }
}

.form-field__wrapper:nth-child(5n) {
  @media (min-width: @tablet-width) {
    padding-bottom: 56px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 51px;
    padding-bottom: 52px;
  }
}

.form-field__set {
  display: grid;
  padding: 0;
  border: none;
  width: 668px;
  margin: 0 auto;

  @media (max-width: @mobile-width-only) {
    width: 260px;
    position: relative;
  }

  @media (min-width: @tablet-width) {
    grid-template-columns: 169px 499px;
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
    margin: 0;
    padding-left: 97px;
    grid-template-columns: 128px 700px;
  }
}

.form-field__color {
  @media (min-width: @tablet-width) {
    margin-left: 49px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 96px;
    padding: 0;
  }
}

.form-field__set-name {
  @media (min-width: @tablet-width) {
    margin-left: 49px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 97px;
    padding: 0;
  }
}

.form-field__border-mobile {
  @media (max-width: @mobile-width-only) {
    position: absolute;
    background-color: #62d1ba;
    width: 200px;
    height: 1px;
    top: 24px;
    left: 60px;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.form-field__border-mobile-3 {
  top: 15px;
}

.form-field__border-mobile-4 {
  top: 21px;
}

.form-field__border-mobile-5 {
  width: 182px;
  left: 78px;
}

.form-field__border-mobile-6 {
  width: 182px;
  left: 78px;
}

.form-field__filter-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.form-field__filter-item {
  @media (min-width: @tablet-width) {
    margin-bottom: 25px;
  }
}

.form-field__filter-item-box {
  margin-bottom: 9px;
}

.form-field__filter-list--color {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 261px 237px;
    row-gap: 15px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 793px;
  }
}

.form-field__user-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  margin-top: 2px;
  padding: 0;
}

.form-field__name {
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
  font-weight: 700;
  padding-right: 30px;
  margin-bottom: 26px;
  margin-top: 17px;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
    padding-top: 20px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding: 0;
    padding-top: 23px;
    margin-left: 32px;
  }
}

.form-field__name-1 {
  @media (min-width: @desktop-width) {
    width: 85px;
    margin-left: 15px;
  }
}

.form-field__name-2 {
  margin-bottom: 16px;

  @media (min-width: @tablet-width) {
    padding: 18px 0 0;
  }

  @media (min-width: @desktop-width) {
    width: 85px;
    margin-left: 15px;
  }
}

.form-field__name-3 {
  margin-top: 9px;
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    margin-top: 6px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 14px;
  }
}

.form-field__name-4 {
  @media (max-width: @mobile-width-only) {
    margin-bottom: 0;
  }
}

.form-field__name-5 {
  @media (max-width: @mobile-width-only) {
    margin-bottom: 0;
  }
}

.form-field__label {
  display: flex;
  min-height: 52px;
  align-items: center;
}

.form-field__control-label {
  padding-left: 60px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;

  @media (min-width: @tablet-width) {
    font-size: 19px;
    padding-left: 80px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 8px;
  }
}

.form-field__control-input[type="checkbox"] + .form-field__control-mark {
  position: absolute;
  box-sizing: border-box;
  width: 52px;
  height: 52px;
  border: 2px solid #444444;
  background-color: #f1f1f1;

  @media (max-width: @mobile-width-only) {
    width: 38px;
    height: 38px;
    background-color: #ffffff;
  }
}

.form-field__control-input[type="radio"] + .form-field__control-mark {
  position: absolute;
  box-sizing: border-box;
  width: 52px;
  height: 52px;
  border: 2px solid #444444;
  background-color: #ffffff;
  border-radius: 50%;

  @media (max-width: @mobile-width-only) {
    width: 40px;
    height: 40px;
  }
}

.form-field__control-input[type="checkbox"]:hover + .form-field__control-mark,
.form-field__control-input[type="radio"]:hover + .form-field__control-mark {
  border-color: #56c3b2;
}

.form-field__control-input[type="checkbox"]:active + .form-field__control-mark,
.form-field__control-input[type="checkbox"]:focus + .form-field__control-mark,
.form-field__control-input[type="radio"]:active + .form-field__control-mark,
.form-field__control-input[type="radio"]:focus + .form-field__control-mark {
  border-color: rgba(0, 0, 0, 0.3);
}

.form-field__control-input[type="checkbox"]:disabled + .form-field__control-mark,
.form-field__control-input[type="checkbox"]:disabled ~ .form-field__control-label {
  opacity: 0.3;
}

.form-field__control-input[type="checkbox"]:disabled:hover + .form-field__control-mark {
  border-color: #444444;
}

.form-field__control-input[type="radio"]:disabled + .form-field__control-mark,
.form-field__control-input[type="radio"]:disabled ~ .form-field__control-label {
  opacity: 0.3;
}

.form-field__control-input[type="radio"]:disabled:hover + .form-field__control-mark {
  border-color: #444444;
}

.form-field__control-input[type="radio"]:checked + .form-field__control-mark {
  &::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    top: 13px;
    left: 13px;
    height: 23px;
    width: 23px;
    background-color: #56c3b2;

    @media (max-width: @mobile-width-only) {
      top: 10px;
      left: 10px;
      height: 16px;
      width: 16px;
    }
  }
}

.form-field__control-input[type="checkbox"]:checked + .form-field__control-mark {
  &::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 6px;
    width: 16px;
    height: 2px;
    background-color: #000000;
    transform: rotate(45deg);

    @media (max-width: @mobile-width-only) {
      top: 22px;
      left: 7px;
      width: 10px;
      height: 1px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 14px;
    width: 32px;
    height: 2px;
    background-color: #000000;
    transform: rotate(-45deg);

    @media (max-width: @mobile-width-only) {
      top: 18px;
      left: 12px;
      width: 20px;
      height: 1px;
    }
  }
}

.form-field__user-item {
  margin-bottom: 21px;
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    align-items: center;
    margin-bottom: 12px;
  }
}

.form-field__input {
  padding: 16px 0;
  font-size: 17px;
  line-height: 18px;
  outline: none;
  color: #444444;
  border: none;
  border-bottom: 2px solid #000000;
  flex-grow: 1;
  background-color: transparent;
  font-family: inherit;

  &::placeholder {
    color: #9974744d;
  }

  &:hover,
  &:active,
  &:focus {
    border-color: #62d1ba;
  }

  @media (min-width: @tablet-width) {
    padding: 18px;
    font-size: 19px;
    padding-bottom: 12px;
    margin-bottom: 0;
  }
}

.form-field__input-family {
  @media (min-width: @tablet-width) {
    padding-top: 24px;
  }
}

.form-field__input-father {
  @media (min-width: @tablet-width) {
    padding-top: 24px;
  }
}

.form-field__input-label {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;

  @media (min-width: @tablet-width) {
    font-size: 19px;
    margin-right: 24px;
    margin-top: 13px;
  }
}

.form-field__input-label--name {
  margin-top: 5px;
}

.form-field__contacts-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 260px;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    width: 668px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 846px;
    padding: 0;
    margin-left: 78px;
  }
}

.form-field__contacts-item {
  position: relative;
  display: flex;
  margin-bottom: 19px;

  @media (max-width: @mobile-width-only) {
    flex-direction: column;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 18px;
  }
}

.form-field__input--contacts {
  background-image: url("/img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: bottom 15px right 10px;

  &:hover,
  &active {
    background: url("/img/icon-phone-hover.svg") no-repeat bottom 15px right 10px;
  }

  @media (min-width: @tablet-width) {
    margin-left: 134px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 82px;
  }
}

.form-field__input--contacts-mail {
  background: url("/img/icon-mail.svg") no-repeat bottom 12px right 5px;

  &:hover,
  &active {
    background: url("/img/icon-mail-hover.svg") no-repeat bottom 12px right 5px;
  }

  @media (max-width: @mobile-width-only) {
    padding-top: 20px;
  }

  @media (min-width: @tablet-width) {
    margin-left: 109px;
    padding-top: 16px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 56px;
  }
}

.form-field__textarea {
  padding: 15px;
  font-size: 17px;
  line-height: 18px;
  outline: none;
  color: #444444;
  border: 2px solid #000000;
  box-sizing: border-box;
  font-family: inherit;
  width: 260px;

  &:hover,
  &:active,
  &:focus {
    border-color: #56c3b2;
    color: #444444;
  }

  &::placeholder {
    color: #9974744d;
  }

  @media (min-width: @tablet-width) {
    font-size: 19px;
    line-height: 18px;
    width: 501px;
    min-height: 142px;
    margin-left: 92px;
  }

  @media (min-width: @desktop-width) {
    width: 700px;
    margin-left: 35px;
  }
}

.form-field__textarea-wrapper {
  @media (max-width: @mobile-width-only) {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding-left: 111px;
    display: flex;
    flex-direction: row;
  }
}

.form-field__name-textarea {
  @media (max-width: @mobile-width-only) {
    display: inline-block;
    background-color: #ffffff;
    position: relative;
    align-self: flex-start;
    margin-bottom: 21px;
  }

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
    padding-top: 23px;
    width: 77px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding: 0;
    padding-top: 19px;
    width: 77px;
  }
}

.form-field__details {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    width: 668px;
    margin: 0 auto;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    width: 699px;
    padding: 0;
    margin: 0;
    padding-left: 225px;
    padding-bottom: 49px;
  }
}
