.form-field__wrapper {
  display: flex;
  flex-direction: column;


  @media (min-width: @tablet-width) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.form-field__wrapper:nth-child(2n) {
  @media (min-width: @tablet-width) {
    background-color: #f1f1f1;
  }

  @media (min-width: @desktop-width) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.form-field {
  display: grid;
  padding: 0;
  border: none;
  width: 86%;
  max-width: 1050px;
  margin: 0 auto;


  @media (max-width: @mobile-width-only) {
    border-top: 1px solid #56c3b2;
  }
}

.form-field__filter-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    margin-left: 14%;
  }
}

.form-field__filter-item {
  margin-bottom: 20px;
}

.form-field__filter-list--color {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.form-field__user-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    margin-left: 20%;
  }
}

.form-field__title {
  @media (max-width: @mobile-width-only) {
    font-weight: 700;
    padding-right: 30px;
    margin-bottom: 30px;
  }

  display: block;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
  font-weight: 700;

  @media (min-width: @tablet-width) {
    position: absolute;
  }
}

.form-field__label {
  display: flex;
  min-height: 52px;
  align-items: center;
}

.form-field__control-label {
  padding-left: 70px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;

  @media (min-width: @tablet-width) {
    font-size: 19px;
  }
}

.form-field__control-input[type="checkbox"] + .form-field__control-mark {
  position: absolute;
  box-sizing: border-box;
  width: 52px;
  height: 52px;
  border: 2px solid #444444;
  background-color: #ffffff;

  @media (max-width: @mobile-width-only) {
    width: 38px;
    height: 38px;
  }
}

.form-field__control-input[type="radio"] + .form-field__control-mark {
  position: absolute;
  box-sizing: border-box;
  width: 52px;
  height: 52px;
  border: 2px solid #444444;
  background-color: #ffffff;
  border-radius: 50%;

  @media (max-width: @mobile-width-only) {
    width: 40px;
    height: 40px;
  }
}

.form-field__control-input[type="checkbox"]:hover + .form-field__control-mark,
.form-field__control-input[type="radio"]:hover + .form-field__control-mark {
  border-color: #56c3b2;
}

.form-field__control-input[type="checkbox"]:active + .form-field__control-mark,
.form-field__control-input[type="checkbox"]:focus + .form-field__control-mark,
.form-field__control-input[type="radio"]:active + .form-field__control-mark,
.form-field__control-input[type="radio"]:focus + .form-field__control-mark {
  border-color: #63d1bb;
}

.form-field__control-input[type="radio"]:checked + .form-field__control-mark {
  &::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    top: 13px;
    left: 13px;
    height: 23px;
    width: 23px;
    background-color: #56c3b2;

    @media (max-width: @mobile-width-only) {
      top: 10px;
      left: 10px;
      height: 16px;
      width: 16px;
    }
  }
}

.form-field__control-input[type="checkbox"]:checked + .form-field__control-mark {
  &::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 6px;
    width: 16px;
    height: 2px;
    background-color: #000000;
    transform: rotate(45deg);

    @media (max-width: @mobile-width-only) {
      top: 22px;
      left: 7px;
      width: 10px;
      height: 1px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 14px;
    width: 32px;
    height: 2px;
    background-color: #000000;
    transform: rotate(-45deg);

    @media (max-width: @mobile-width-only) {
      top: 18px;
      left: 12px;
      width: 20px;
      height: 1px;
    }
  }
}

.form-field__user-item {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    align-items: center;
  }
}

.form-field__input {
  padding: 17px 0;
  font-size: 17px;
  line-height: 18px;
  outline: none;
  color: #444444;
  border: none;
  border-bottom: 2px solid #000000;
  flex-grow: 1;
  background-color: transparent;
  font-family: inherit;

  &::placeholder {
    color: #9974744d;
  }

  &:hover,
  &:active,
  &:focus {
    border-color: #56c3b2;
  }

  @media (min-width: @tablet-width) {
    padding: 18px;
    font-size: 19px;
  }
}

.form-field__input-label {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;

  @media (min-width: @tablet-width) {
    font-size: 19px;
    margin-right: 24px;
  }
}

.form-field__contacts-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 84%;
  max-width: 1050px;

  @media (min-width: @tablet-width) {
    flex-direction: column;
  }
}

.form-field__contacts-item {
  position: relative;
  display: flex;
  margin-top: 50px;

  @media (max-width: @mobile-width-only) {
    flex-direction: column;
    border-top: 1px solid #56c3b2;
  }
}

.form-field__input--contacts {
  @media (max-width: @mobile-width-only) {
    margin-top: 30px;
  }

  @media (min-width: @tablet-width) {
    margin-left: 20%;
  }
}

.form-field__title--contacts {
  @media (max-width: @mobile-width-only) {
    position: absolute;
    top: -9px;
    background-color: #ffffff;
  }

  @media (min-width: @tablet-width) {
    align-self: center;
  }
}

.form-field__icon {
  position: absolute;
  right: 12px;
  bottom: 19px;
}


.form-field__textarea {
  padding: 8px;
  font-size: 18px;
  line-height: 18px;
  outline: none;
  color: #444444;
  border: 2px solid #000000;
  box-sizing: border-box;
  margin-bottom: 30px;
  font-family: inherit;

  &:hover,
  &:active,
  &:focus {
    border-color: #56c3b2;
  }

  &::placeholder {
    color: #9974744d;
  }

  @media (min-width: @tablet-width) {
    margin-left: 20%;
  }
}

.form-field__title-textarea {
  @media (max-width: @mobile-width-only) {
    display: inline-block;
    background-color: #ffffff;
    position: relative;
    top: -9px;
    align-self: flex-start;
  }
}
