.form__container {
  width: 260px;
  margin: 0 auto;
}

.form__text {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}

.filter__title {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
}

.control__label {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

.form__label {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

.appointment__group {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
}

.required-info {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}

.form__send {
  margin-bottom: 55px;
}
