.menu-nav {
  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
  }
}

.menu-nav__toggle {
  background-color: transparent;
  color: #000000;
  border: none;
  padding: 10px;
  position: absolute;
  top: 15px;
  right: 30px;
  display: none;
}

.menu-nav__container {
  width: 320px;

  @media (min-width: @tablet-width) {
    width: 787px;
    margin: 0;
  }
}
