.menu-nav__toggle {
  background-color: transparent;
  border: none;
  padding: 10px;
  position: absolute;
  top: 15px;
  right: 30px;
}

.menu-nav__container {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.menu-nav__list {
  list-style: none;
  padding: 0;
}
