.order-form__submit {
  width: 100%;

  &:hover {
    background-color: #444444;
    color: #ffffff;
  }

  &:active,
  &:focus {
    background-color: #444444;
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: @tablet-width) {
    width: 230px;
  }
}
