.order-form__mark {
  @media (max-width: @mobile-width-only) {
    padding-bottom: 28px;
    font-size: 14px;
    line-height: 16px;
    margin-right: 11px;
    margin-top: 4px;
  }
}

.order-form__submit {
  @media (max-width: @mobile-width-only) {
    margin-bottom: 56px;
    width: 260px;
    font-size: 17px;
    line-height: 21px;
    padding: 14px;
  }

  &:hover {
    background-color: #444444;
    color: #ffffff;
  }

  &:active,
  &:focus {
    background-color: #444444;
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: @tablet-width) {
    width: 230px;
  }

  @media (min-width: @desktop-width) {
    width: 230px;
    margin: 0;
    padding: 0;
  }
}
