.page-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f1f1f1;
  min-height: 143px;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 768px;
    flex-direction: row;
  }

  @media (min-width: @desktop-width) {
    width: 1150px;
  }
}

.page-footer__logo {
  width: @mobile-width-only;
  display: none;

  @media (min-width: @tablet-width) {
    width: 188px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
  }

  @media (min-width: @desktop-width) {
    width: 102px;
    margin-left: 50px;
  }
}

.page-footer__logo-link svg {
  &:hover {
    fill: #46c1ae;
  }

  &:active {
    fill: rgba(70, 193, 174, 0.3);
  }
}
