.page-header__container {
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
    display: grid;
    grid-template-columns: 217px 156px 85px 310px;
    grid-template-rows: 88px 70px;
  }

  @media (min-width: @desktop-width) {
    width: 1150px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 235px 270px 245px 85px 315px;
    grid-template-rows: 88px 70px;
  }
}

.page-header__logo {
  margin: 0 auto;
  height: 79px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: 2;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
