.page-header__container {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 217px 156px 85px 310px;
    grid-template-rows: 88px 70px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 235px 270px 245px 85px 315px;
    grid-template-rows: 88px 70px;
  }
}

.page-header__logo {
  margin: 0 auto;
  height: 79px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.page-header__mobile {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.page-header__tablet {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-header__desktop {
  display: none;

  @media (min-width: @desktop-width) {
    display: flex;
  }
}
