.reviews__title {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

.reviews__text {
  width: 260px;
  min-height: 270px;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.reviews__author-name {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
}

.reviews__author-email {
  font-family: inherit;
  font-size: 17px;
  line-height: 24px;
}

.reviews__prev {
  background: #FFFFFF;
  width: 130px;
  height: 52px;
  padding: 0;
  margin: 0;
  border: 1px solid #ECECEC;
  outline: none;
}

.reviews__next {
  background: #FFFFFF;
  width: 130px;
  height: 52px;
  padding: 0;
  margin: 0;
  border: 1px solid #ECECEC;
  outline: none;
}
