.video {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 56px;
  border: 1px solid #ececec;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 668px;
    margin-bottom: 62px;
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
    margin-bottom: 103px;
  }
}

.video__details {
  width: 260px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 668px;
    min-height: 288px;
    display: grid;
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
    min-height: 455px;
    display: grid;
    grid-template-columns: 683px 367px;
  }
}

.video__header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 22px;
  padding-top: 4px;

  @media (min-width: @tablet-width) {
    justify-content: flex-start;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 30px;
    margin-left: 20px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    width: 290px;
    padding: 0;
    margin-top: 46px;
    margin-left: 21px;
    row-gap: 28px;
  }
}

.video__header svg {
  @media (min-width: @desktop-width) {
    padding-right: 143px;
  }
}

.video__title {
  width: 156px;
  font-size: 17px;
  line-height: 24px;
  margin-left: 10px;

  @media (min-width: @tablet-width) {
    width: 271px;
    font-size: 20px;
    padding-top: 2px;
    padding-left: 34px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    width: 178px;
  }
}

.video__player {
  position: relative;
  margin-bottom: 30px;
  margin-top: 9px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    height: 455px;
  }
}

.video__play-photo {
  position: absolute;
  top: 37px;
  right: 72px;
  width: 100px;
  height: 77px;
  background-color: #ffffff;
  border-radius: 20px;
  border: none;
  cursor: pointer;

  &:hover {
    transform: scale(120%);
  }

  &:active {
    transform: scale(80%);
    opacity: 70%;
  }

  @media (min-width: @tablet-width) {
    width: 102px;
    height: 78px;
    top: 191px;
    right: 266px;
  }

  @media (min-width: @desktop-width) {
    width: 101px;
    height: 77px;
  }
}

.video__description {
  margin: 0 33px 40px 34px;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #444444;

  @media (min-width: @tablet-width) {
    font-size: 15px;
    line-height: 30px;
    padding: 0;
    margin: 24px 37px 40px 39px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-left: 78px;
    width: 253px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.video__container {
  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    margin-top: 25px;
    margin-bottom: 34px;
  }
}

.video__button {
  width: 192px;
  margin: 0 34px 33px 34px;

  @media (min-width: @tablet-width) {
    width: 584px;
    font-size: 17px;
    margin-bottom: 45px;
    margin-left: 41px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin: 0;
    margin-left: 79px;
    width: 230px;
    height: 52px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
  }
}
